<div class="kategori-container">
    <ul *ngIf="is_completed" class="kategori-list">
        <li routerLink="/ilanlar">Tüm İlanlar</li>
        <li routerLink="/ilanlar" [queryParams]="{kategori:kategori.id}" *ngFor="let kategori of kategoriler">{{kategori.name}}</li>
    </ul>
    <div *ngIf="!is_completed">
        <p class="placeholder-glow px-2">
            <span class="placeholder placeholder-lg w-75 bg-secondary my-2"></span>
            <span class="placeholder placeholder-lg w-75 bg-secondary my-2"></span>
            <span class="placeholder placeholder-lg w-50 bg-secondary my-2"></span>
            <span class="placeholder placeholder-lg w-100 bg-secondary my-2"></span>
            <span class="placeholder placeholder-lg w-25 bg-secondary my-2"></span>
        </p>
    </div>
</div>