<app-navigation></app-navigation>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

<div class="container mt-5">
  <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-body-secondary">Ana Sayfa</a>
      </li>
      <li class="nav-item">
        <a routerLink="/ilanlar" class="nav-link px-2 text-body-secondary">İlanlar</a>
      </li>
    </ul>
    <p class="text-center text-body-secondary">
      Araç İlan Project by
      <a href="https://cancakar.com.tr" target="_blank" rel="noopener" class="text-body-secondary text-decoration-none fw-bold">Can Çakar</a>
    </p>
  </footer>
</div>