.login-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 9px;
    width: 50%;
    padding: 5rem 2rem;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 75%;
}

.login-form input {
    outline: none;
    width: 100%;
    height: 44px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    border: 2px solid #e5e5e5;
    padding: 8px 12px;
    transition: all 0.2s ease-in-out;
}

.login-form input.ng-invalid.ng-touched {
    border: 2px solid #ff9494;
}

.login-form input.ng-valid.ng-dirty {
    border: 2px solid #4bb543;
}

.login-form input::placeholder{
    color: #777;
}

.login-form input:focus {
    border: 2px solid #6F61C0;
}

.login-form-error-msg {
    color: #ff9494;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.login-form button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    outline: none;
    user-select: none;
    background-color: #6f61c0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: none;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

.login-form button:hover:not(:disabled) {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.login-form a {
    cursor: pointer;
    appearance: none;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}