<nav class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a routerLink="/" class="nav-link px-2 text-white">Ana Sayfa</a>
                </li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Ara"
                    aria-label="Search" />
            </form>

            <div class="text-end d-flex">
                <ng-container *ngIf="isUserAuthenticated(); else notAuthenticatedView">
                    <div class="dropdown user-select-none" data-bs-theme="dark">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-plus fs-5 fw-bold"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li><button routerLink="/ilanlar/add" class="dropdown-item btn-lg">İlan Ekle</button></li>
                        </ul>
                    </div>
                    <div class="dropdown user-select-none" data-bs-theme="dark">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-person fs-5"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li class="px-2">
                                <div class="text-secondary text-center">Hoş Geldin</div>
                                <div *ngIf="userInfo" class="text-white text-center">{{userInfo.Name}}</div>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li><button routerLink="/profile" class="dropdown-item">Hesabım</button></li>
                            <li><button class="dropdown-item">İlanlarım</button></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <button (click)="logout()" type="button" class="btn btn-outline-warning d-block w-100">
                                    Çıkış Yap
                                </button>
                            </li>
                        </ul>
                    </div>
                </ng-container>
                <ng-template #notAuthenticatedView>
                    <button routerLink="/login" type="button" class="btn btn-outline-light me-2">
                        Giriş Yap
                    </button>
                    <button routerLink="/register" type="button" class="btn btn-warning">
                        Kayıt Ol
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</nav>